snippet img "Insert image" b
![${1:Title}](${2:path})
$3
endsnippet

snippet hlink "Insert markdown hyperlink" i
[${1:Fig title}](${2:link})
endsnippet

snippet dateh "Insert current date" b
> Date: `date +%d.%m.%y`
endsnippet
